@model CategoryDetailsViewModel


@{
    ViewData["Title"] = "Category Details";
}

<h1>Category: @Model.Category.Name</h1>


<h3>Events that fall in this Category:</h3>

@if (Model.Events != null && Model.Events.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Capacity</th>
                <th>Available Seats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventItem in Model.Events)
            {
                <tr>
                    <td>@eventItem.Name</td>
                    <td>@eventItem.Date.ToShortDateString()</td>
                    <td>@eventItem.Capacity</td>
                    <td>@eventItem.AvailableSeats</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No events found under this category.</p>
}

<a asp-action="Index">Back to Categories</a>